<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin:Specs-Mart</title>
    <link rel="shortcut icon" type="image" href="../admin/assets/images/logos/dark-logo.png" />
    <link rel="stylesheet" href="../admin/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./admin/home" class="text-nowrap logo-img">
                        <img src="../admin/assets/images/logos/dark-logo.png" width="150" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./home" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <!-- <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">UI COMPONENTS</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-buttons.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Buttons</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-alerts" aria-expanded="false">
                                <span>
                                    <i class="ti ti-alert-circle"></i>
                                </span>
                                <span class="hide-menu">Alerts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cards"></i>
                                </span>
                                <span class="hide-menu">Card</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-description"></i>
                                </span>
                                <span class="hide-menu">Forms</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-typography"></i>
                                </span>
                                <span class="hide-menu">Typography</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">AUTH</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-login"></i>
                                </span>
                                <span class="hide-menu">Login</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus"></i>
                                </span>
                                <span class="hide-menu">Register</span>
                            </a>
                        </li> -->
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/orders" aria-expanded="false">

                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Orders</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/carousels" aria-expanded="false">
                                <!-- <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">EXTRA</span> -->
                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Carousels</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/users" aria-expanded="false">
                                <!-- <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">EXTRA</span> -->
                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Users</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/product" aria-expanded="false">
                                <!-- <span>
                  <i class="ti ti-mood-happy"></i>
                </span> -->
                                <!-- <span class="hide-menu">Icons</span> -->
                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Products</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/categories" aria-expanded="false">
                                <!-- <span>
                                <i class="ti ti-aperture"></i>
                              </span>
                              <span class="hide-menu">Sample Page</span> -->
                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Category</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                                <!-- <span>
                                <i class="ti ti-aperture"></i>
                              </span>
                              <span class="hide-menu">Sample Page</span> -->
                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Coupon</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/offers" aria-expanded="false">

                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Offers</span>
                            </a>
                        </li>
                    </ul>
                    <!-- <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
            <div class="d-flex">
              <div class="unlimited-access-title me-3">
                <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
                <a href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
              </div>
              <div class="unlimited-access-img">
                <img src="../admin/assets/images/backgrounds/rocket.png" alt="" class="img-fluid">
              </div>
            </div>
          </div> -->
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <!-- <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank" class="btn btn-primary">Download Free</a> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../admin/assets/images/profile/user-1.jpg" alt="" width="35" height="35"
                                        class="rounded-circle">
                                </a>
                                <% if (typeof userData=='undefined' ) { %>
                                    <a href="/admin/logout">
                                        <i class="logout-icon">&#128075;</i>
                                        logout
                                    </a>
                                    <% } else { %>
                                        <a href="/admin/login">
                                            <i class="login-icon">&#128274;</i>
                                        </a>
                                        <% } %>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                                aria-labelledby="drop2">
                                                <div class="message-body">
                                                    <a href="javascript:void(0)"
                                                        class="d-flex align-items-center gap-2 dropdown-item">
                                                        <i class="ti ti-user fs-6"></i>
                                                        <p class="mb-0 fs-3">My Profile</p>
                                                    </a>
                                                    <a href="javascript:void(0)"
                                                        class="d-flex align-items-center gap-2 dropdown-item">
                                                        <i class="ti ti-mail fs-6"></i>
                                                        <p class="mb-0 fs-3">My Account</p>
                                                    </a>
                                                    <a href="javascript:void(0)"
                                                        class="d-flex align-items-center gap-2 dropdown-item">
                                                        <i class="ti ti-list-check fs-6"></i>
                                                        <p class="mb-0 fs-3">My Task</p>
                                                    </a>
                                                    <a href="./authentication-login.html"
                                                        class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                                </div>
                                            </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!--  Header End -->
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Edit Product</h1>

            <form action="/admin/edit-product" method="post" enctype="multipart/form-data">


                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="productName"
                        value="<%= product[0].productName %>" placeholder="Enter Product Name">
                </div>



                <div class="mb-3">
                    <label for="image" class="form-label">Photo</label>
                    <input type="file" name="imageUrls" value="<%= product[0].imageUrls %>" placeholder="Upload File"
                        multiple>
                    <br><br>

                    <% if (product[0].imageUrls && product[0].imageUrls.length> 0) { %>
                        <% for (let i=0; i < product[0].imageUrls.length; i++) { %>
                            <% const imageUrl=product[0].imageUrls[i]; %>
                                <div class="preview-image" id="indexImage<%= imageUrl.url %>" style="display: inline;">
                                    <img src="<%= imageUrl.url %>"  alt="Preview-Image<%= i %>" width="100" height="100">
                                    <button type="button" class="remove-button"
                                        onclick="removeIndeximage('<%= imageUrl.url %>','<%=product[0]._id%>')"
                                        data-index="<%= i %>">Remove</button>
                                </div>
                                <% } %>

                                    <!-- <div class="image-navigation">
                                        <button id="addButton">Add</button>
                                    </div> -->
                                    <% } %>
                </div>





                <div class="mb-3">
                    <label for="Description" class="form-label">Product Description</label>
                    <input type="text" class="form-control" id="description" name="productDescription"
                        value="<%= product[0].productDescription %>" placeholder="Enter Product Description">
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Product Brand</label>
                    <input type="text" class="form-control" id="description" name="productBrand"
                        value="<%= product[0].productBrand %>" placeholder="Enter Product Brand">
                </div>


                <div class="mb-3">
                    <label for="Category" class="form-label">Product Category</label>
                    <select class="form-control" id="productCategory" name="productCategory" required>
                        <% for (let index=0; index < category.length; index++) { %>
                            <option value="<%= category[index].categoryName %>" <% if
                                (category[index].categoryName===product[0].productCategory) { %>
                                selected
                                <% } %>
                                    >
                                    <%= category[index].categoryName %>
                            </option>
                            <% } %>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Product Price</label>
                    <input type="number" class="form-control" id="description" name="price"
                        value="<%= product[0].price %>" placeholder="Enter Product Price">
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Stock Count</label>
                    <input type="number" class="form-control" id="description" min="0" name="stockCount"
                        value="<%= product[0].stockCount %>" placeholder="Enter Stock Count">
                </div>
                <input type="hidden" name="id" value="<%= product[0]._id %>">
                <button type="submit" class="btn btn-primary">Update Product</button>

            </form>


        </div>
    </div>
    <script src="../admin/assets/libs/jquery/dist/jquery.min.js"></script>
  
  <script src="../admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  
  <script src="../admin/assets/js/sidebarmenu.js"></script>
  
  <script src="../admin/assets/js/app.min.js"></script>
  
  <script src="../admin/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  
  <script src="../admin/assets/libs/simplebar/dist/simplebar.js"></script>
  
  <script src="../admin/assets/js/dashboard.js"></script>

    <script>

        async function removeIndeximage(dataindex, id) {
            console.log(dataindex)
            const response = await fetch('/removeIndeximage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    imageUrlName: dataindex,
                    prodId: id
                })
            })
                .then(response => response.json())
                .then((res) => {
                    if (res.status === "success")
                    {
                        console.log("Hi success");
                        document.getElementById('indexImage'+dataindex).innerHTML="" 
                    }
                })
            }

    </script>


</body>

</html>