<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin:Specs-Mart</title>
    <link rel="shortcut icon" type="image" href="/admin/assets/images/logos/dark-logo.png" />
    <link rel="stylesheet" href="/admin/assets/css/styles.min.css" />

    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.css">

    <style>
        table.dataTable thead .sorting::before,
        table.dataTable thead .sorting_asc::before,
        table.dataTable thead .sorting_desc::before,
        table.dataTable thead .sorting_asc_disabled::before,
        table.dataTable thead .sorting_desc_disabled::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px;
        }

        table.dataTable thead .sorting::before {
            border-color: transparent;
            border-bottom-width: 0;
            border-top-color: #000;
        }

        table.dataTable thead .sorting_asc::before,
        table.dataTable thead .sorting_desc::before {
            border-bottom-color: #000;
        }

        table.dataTable thead .sorting_asc_disabled::before,
        table.dataTable thead .sorting_desc_disabled::before {
            opacity: 0.3;
        }
    </style>
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./admin/home" class="text-nowrap logo-img">
                        <img src="../admin/assets/images/logos/dark-logo.png" width="150" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./home" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <!-- <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">UI COMPONENTS</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-buttons.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Buttons</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-alerts" aria-expanded="false">
                                <span>
                                    <i class="ti ti-alert-circle"></i>
                                </span>
                                <span class="hide-menu">Alerts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cards"></i>
                                </span>
                                <span class="hide-menu">Card</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-description"></i>
                                </span>
                                <span class="hide-menu">Forms</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-typography"></i>
                                </span>
                                <span class="hide-menu">Typography</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">AUTH</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-login"></i>
                                </span>
                                <span class="hide-menu">Login</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus"></i>
                                </span>
                                <span class="hide-menu">Register</span>
                            </a>
                        </li> -->
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/orders" aria-expanded="false">

                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Orders</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/carousels" aria-expanded="false">

                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Carousels</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/users" aria-expanded="false">

                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Users</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/product" aria-expanded="false">

                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Products</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/categories" aria-expanded="false">
                                <!-- <span>
                                <i class="ti ti-aperture"></i>
                              </span>
                              <span class="hide-menu">Sample Page</span> -->
                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Category</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                                <!-- <span>
                                <i class="ti ti-aperture"></i>
                              </span>
                              <span class="hide-menu">Sample Page</span> -->
                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Coupon</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <a class="sidebar-link" href="/admin/offers" aria-expanded="false">

                                <i class="typcn typcn-user-add-outline menu-icon"></i>
                                <span class="menu-title">Offers</span>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <!-- <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank" class="btn btn-primary">Download Free</a> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../admin/assets/images/profile/user-1.jpg" alt="" width="35" height="35"
                                        class="rounded-circle">
                                </a>
                                <% if (typeof userData=='undefined' ) { %>
                                    <a href="/admin/logout">
                                        <i class="logout-icon">&#128075;</i>
                                        logout
                                    </a>
                                    <% } else { %>
                                        <a href="/admin/login">
                                            <i class="login-icon">&#128274;</i>
                                        </a>
                                        <% } %>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                                aria-labelledby="drop2">
                                                <div class="message-body">
                                                    <a href="javascript:void(0)"
                                                        class="d-flex align-items-center gap-2 dropdown-item">
                                                        <i class="ti ti-user fs-6"></i>
                                                        <p class="mb-0 fs-3">My Profile</p>
                                                    </a>
                                                    <a href="javascript:void(0)"
                                                        class="d-flex align-items-center gap-2 dropdown-item">
                                                        <i class="ti ti-mail fs-6"></i>
                                                        <p class="mb-0 fs-3">My Account</p>
                                                    </a>
                                                    <a href="javascript:void(0)"
                                                        class="d-flex align-items-center gap-2 dropdown-item">
                                                        <i class="ti ti-list-check fs-6"></i>
                                                        <p class="mb-0 fs-3">My Task</p>
                                                    </a>
                                                    <a href="./authentication-login.html"
                                                        class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                                </div>
                                            </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!--  Header End -->
            <br>
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="table-responsive pt-3">
                            <table class="table table-striped project-orders-table" id="myTable">
                                <thead>
                                    <tr>
                                        <th>OrderId</th>
                                        <th>Date</th>
                                        <th>Payment Method</th>
                                        <th>Change Status</th>
                                        <th>View Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%orderData.forEach((item)=>{%>
                                        <tr>
                                            <td>
                                                <%=item.orderId%>
                                            </td>
                                            <td>
                                                <%=new Date(item.date).toLocaleString()%>
                                            </td>
                                            <td>
                                                <%=item.paymentMethod%>
                                            </td>
                                            <td>
                                                <!-- <label for="Status" class="form-label">Order Status</label> -->
                                                <select class="form-control" id="statusDropdown"
                                                    onchange="changestatus(event, '<%= item._id %>')">

                                                    <% statusOptions.forEach((status)=> { %>
                                                        <option value="<%= status %>" <%=item.status===status
                                                            ? "selected" : "" %>>
                                                            <%= status %>
                                                        </option>
                                                        <% }) %>



                                                </select>
                                            </td>
                                            <td>
                                                <a href="/admin/orderDetails/?orderId=<%=item.orderId%>"
                                                    class="btn btn-primary">View Details</a>
                                            </td>
                                        </tr>
                                        <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="../assets/js/dashboard.js"></script>
    <script>
        function changestatus(event, id) {
            console.log(id, 'shijith pk')
            fetch('/admin/updateStatus', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ statusvalue: event.target.value, id: id })
            })
                .then(function (response) {
                    if (response.ok) {
                        console.log('Status updated successfully');
                    } else {
                        console.error('Failed to update status');
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        }

    </script>

<script>
    new Date(item.date).toLocaleString('en-US', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
    });

</script>
</body>

</html>
<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>