<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SpecsMart</title>
  <link rel="icon" href="/img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="/css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/css/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="/css/slick.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <style>
    .hidden {
      display: none;
    }

    .menu_fixed {
      position: relative;

    }

    .logo-img {
      height: 50px;
      width: 100px;
      max-width: none;
      /* Override the max-width property */
    }
  </style>


</head>

<body>
  <!--::header part start::-->
  <header class="main_menu home_menu">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Navbar code... -->
            <a class="navbar-brand" href="home.ejs"> <img src="img/logo.png" class="logo-img" alt="logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="menu_icon"><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about">about</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/fullproducts">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact</a>
                </li>
              </ul>
            </div>

            <div class="hearer_icon d-flex align-items-center">
              <!-- Other icons... -->

              <% if (locals.userData.blockStatus==false) { %>
                <a href="/addwishlist" class="wishlist-link">
                  <i class="fas fa-heart"></i>
                  <span class="wishlist-count"></span>
                </a>

                <a href="/addtocart">
                  <i class="flaticon-shopping-cart-black-shape"></i>
                </a>
                <a href="/profile">
                  <img src="/img/285645_user_icon.png" height="25px" width="25px" style="margin-left:20px;" alt="">
                </a>

                <a href="/logout">
                  <i class="logout-icon">&#128075;</i>
                </a>

                <% }else { %>

                  <a href="/login">
                    <i class="login-icon">&#128274;</i>
                  </a>
                  <% } %>


            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- Search input code... -->
  </header>
  <!-- Header part end-->

  <!-- breadcrumb part start-->
  <section class="breadcrumb_part">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <h2>checkout</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb part end-->

  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="cupon_area">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Available Coupons
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

            <% couponData.forEach(function(coupon) { %>
              <% if(coupon.isDisabled===false && coupon.startDate <=new Date() && coupon.endDate>= new Date()){ %>
                <a class="dropdown-item coupon-item" href="#" data-coupon-code="<%= coupon.couponCode %>">
                  <%= coupon.couponName %>
                </a>
                <% } %>
                  <% }) %>
          </div>
        </div>
      </div>
      <input type="text" disabled style="font-size: smaller;" id="couponCodeInput" placeholder="Coupon From DropDown" />
      <a class="tp_btn" href="#" id="applyCouponBtn">Apply Coupon</a>



      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item" style="margin-bottom: 50px;">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    BILLING ADDRESS
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <% billingAddresses.forEach(function(address){ %>
                      <div class="card">
                        <div class="card-body">


                          <div class="form-group p_star">

                            <input type="text" class="form-control" id="first" name="name" value="<%=address.name %>" />
                          </div>
                          <div class="form-group p_star">
                            <input type="text" class="form-control" id="number" name="mobileNumber"
                              value="<%= address.mobile %>" />
                          </div>
                          <div class="form-group p_star">
                            <input type="text" class="form-control" id="email" name="email"
                              value="<%=address.email%>" />
                          </div>
                          <div class="form-group p_star">
                            <input type="text" class="form-control" id="add1" name="addressLine"
                              value="<%=address.addressLine%>" />
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6 p_star">
                              <input type="text" class="form-control" id="add2" name="city"
                                value="<%=address.city %>" />
                            </div>
                            <div class="form-group col-md-6 p_star">
                              <input type="text" class="form-control" id="city" name="state"
                                value="<%=address.state %>" />
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="zip" name="pincode"
                              value="<%=address.pincode %>" />
                          </div>
                          <div class="form-group">
                            <label style="padding-right: 50px;">
                              <input type="radio" name="selectedAddress1" onclick="setbillingAddress()"
                                value="<%= address._id %>">
                              Select Address
                            </label>
                            <button type="button" class="btn btn-primary"
                              style="background-color: #8e7c8c; border: none;" data-bs-toggle="modal"
                              data-bs-target="#staticBackdrop<%= address._id %>"
                              onclick="editAddress('<%= address._id %>')">Edit</button>

                            <!-- Modal for edit address -->
                            <div class="modal fade" id="staticBackdrop<%= address._id %>" data-bs-backdrop="static"
                              data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">

                                <div class="modal-content">

                                  <form action="/saveBillingAddressinCheckout" method="post">

                                    <div class="modal-header">
                                      <h5 class="modal-title" id="staticBackdropLabel">Edit Address</h5>

                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                      <div class="card">
                                        <div class="card-body">



                                          <div class="form-group p_star">
                                            <input type="text" class="form-control" id="modalname" name="name"
                                              value="<%=address.name %>" />
                                          </div>
                                          <div class="form-group p_star">
                                            <input type="text" class="form-control" id="modalnumber" name="mobileNumber"
                                              value="<%= address.mobile %>" />
                                          </div>
                                          <div class="form-group p_star">
                                            <input type="text" class="form-control" id="email" name="email"
                                              value="<%= address.email %>" />
                                          </div>
                                          <div class="form-group p_star">
                                            <input type="text" class="form-control" id="add1" name="addressLine"
                                              value="<%=address.addressLine%>" />
                                          </div>
                                          <div class="form-row">
                                            <div class="form-group col-md-6 p_star">
                                              <input type="text" class="form-control" id="add2" name="city"
                                                value="<%=address.city%>" />
                                            </div>
                                            <div class="form-group col-md-6 p_star">
                                              <input type="text" class="form-control" id="city" name="state"
                                                value="<%=address.state%>" />
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="zip" name="pincode"
                                              value="<%=address.pincode%>" />
                                          </div>
                                          <div class="form-group">
                                            <input type="hidden" class="form-control" id="billingId" name="billingId"
                                              value="<%=address._id%>" />
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                      <input type="submit" class="btn btn-primary" value="Save">
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <% }) %>
                  </div>


                </div>
              </div>

              <div class="accordion-item" style="margin-bottom: 50px">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    SHIPPING ADDRESS
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <% shippingAddresses.forEach(function(address){ %>
                      <div class="card">
                        <div class="card-body">

                          <div class="form-group p_star">
                            <input type="text" class="form-control" id="first" name="name" value="<%=address.name %>" />
                          </div>
                          <div class="form-group p_star">
                            <input type="text" class="form-control" id="number" name="mobileNumber"
                              value="<%= address.mobile %>" />
                          </div>
                          <div class="form-group p_star">
                            <input type="text" class="form-control" id="email" name="email"
                              value="<%=address.email%>" />
                          </div>
                          <div class="form-group p_star">
                            <input type="text" class="form-control" id="add1" name="addressLine"
                              value="<%=address.addressLine%>" />
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6 p_star">
                              <input type="text" class="form-control" id="add2" name="city"
                                value="<%=address.city %>" />
                            </div>
                            <div class="form-group col-md-6 p_star">
                              <input type="text" class="form-control" id="city" name="state"
                                value="<%=address.state %>" />
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="zip" name="pincode"
                              value="<%=address.pincode %>" />
                          </div>
                          <div class="form-group">
                            <label style="padding-right: 50px;">
                              <input type="radio" name="selectedAddress2" onclick="setshippingAddress()"
                                value="<%= address._id %>">
                              Select Address
                            </label>
                            <button type="button" class="btn btn-primary"
                              style="background-color: #8e7c8c; border: none;" data-bs-toggle="modal"
                              data-bs-target="#staticBackdrop<%= address._id %>"
                              onclick="editAddress('<%= address._id %>')">Edit</button>

                            <!-- Modal for edit address -->
                            <div class="modal fade" id="staticBackdrop<%= address._id %>" data-bs-backdrop="static"
                              data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">

                                <div class="modal-content">

                                  <form action="/saveShippingAddressinCheckout" method="post">

                                    <div class="modal-header">
                                      <h5 class="modal-title" id="staticBackdropLabel">Edit Address</h5>

                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                      <div class="card">
                                        <div class="card-body">



                                          <div class="form-group p_star">
                                            <input type="text" class="form-control" id="modalname" name="name"
                                              value="<%=address.name %>" />
                                          </div>
                                          <div class="form-group p_star">
                                            <input type="text" class="form-control" id="modalnumber" name="mobileNumber"
                                              value="<%= address.mobile %>" />
                                          </div>
                                          <div class="form-group p_star">
                                            <input type="text" class="form-control" id="email" name="email"
                                              value="<%= address.email %>" />
                                          </div>
                                          <div class="form-group p_star">
                                            <input type="text" class="form-control" id="add1" name="addressLine"
                                              value="<%=address.addressLine%>" />
                                          </div>
                                          <div class="form-row">
                                            <div class="form-group col-md-6 p_star">
                                              <input type="text" class="form-control" id="add2" name="city"
                                                value="<%=address.city%>" />
                                            </div>
                                            <div class="form-group col-md-6 p_star">
                                              <input type="text" class="form-control" id="city" name="state"
                                                value="<%=address.state%>" />
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="zip" name="pincode"
                                              value="<%=address.pincode%>" />
                                          </div>
                                          <div class="form-group">
                                            <input type="hidden" class="form-control" id="shippingId" name="shippingId"
                                              value="<%=address._id%>" />
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                      <input type="submit" class="btn btn-primary" value="Save">
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <% }) %>
                  </div>
                </div>
              </div>


              <div class="adding-address d-flex">
                <div class="accordion-item" style="margin-bottom: 50px">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      ADD BILLING ADDRESS
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <form action="/addbillingaddress" method="post">
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="first" name="name" placeholder="Enter Name" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="number" name="mobileNumber"
                            placeholder="Mobile number" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="add1" name="addressLine" placeholder="Address" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="add2" name="city" placeholder="City" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="city" name="state" placeholder="State" />
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" id="zip" name="pincode" placeholder="Postcode/ZIP" />
                        </div>
                        <button type="submit" href="" class="btn btn-outline-primary-2 mt-1"
                          style="padding: 10px 20px; font-size: 16px; text-decoration: none; border-radius: 5px; border: 2px solid #007bff; color: #007bff;">
                          <span>Save</span>
                        </button>
                      </form>
                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </div>

                <div class="accordion-item" style="margin-bottom: 50px">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      ADD SHIPPING ADDRESS
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <form action="/addshippingaddress" method="post">
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="first" name="name" placeholder="Enter Name" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="number" name="mobileNumber"
                            placeholder="Mobile number" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="add1" name="addressLine" placeholder="Address" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="add2" name="city" placeholder="City" />
                        </div>
                        <div class="form-group p_star">
                          <input type="text" class="form-control" id="city" name="state" placeholder="State" />
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" id="zip" name="pincode" placeholder="Postcode/ZIP" />
                        </div>
                        <button type="submit" href="" class="btn btn-outline-primary-2 mt-1"
                          style="padding: 10px 20px; font-size: 16px; text-decoration: none; border-radius: 5px; border: 2px solid #007bff; color: #007bff;">
                          <span>Save</span>
                        </button>
                      </form>

                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <div class="col-lg-4">
            <div class="order_box">
              <h2>Order Summary</h2>
              <div class="order-summary">
                <table class="product-table"
                  style="border-color: brown; color: rgb(29, 33, 33); border-width: 100px; margin-bottom: 20px;">
                  <thead>
                    <tr>
                      <th style="padding: 10px;">Serial No.</th>
                      <th style="padding: 10px;">Product</th>
                      <th style="padding: 10px;">Quantity</th>
                      <th style="padding: 10px;">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% products.forEach(function(cartItem, index) { %>
                      <tr>
                        <td style="padding: 10px;">
                          <%= index + 1 %>
                        </td>
                        <td style="padding: 10px;">
                          <%= cartItem.products.productName %>
                        </td>
                        <td style="padding: 10px;">
                          <%= cartItem.quantity %>
                        </td>
                        <td style="padding: 10px;">Rs. <%= cartItem.products.price * cartItem.quantity %>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>

                <div class="summary-details">
                  <div class="total" style="margin-bottom: 20px; ">
                    Total:Rs. <span id="subtotal">
                      <%= subtotal %>
                    </span>
                  </div>
                  <div>
                    <p class="text-success" id="saveText1" style="display: none;">Congrats, You Have Saved Rs: <span
                        id="discountAmount"></span></p>
                    <p class="text-success" id="saveText2" style="display: block;"></p><span
                      id="minimumPurchaseBarrier"></span></p>



                  </div>
                </div>

                <div>
                  <table class="d-none" id="billingTable" style="margin-bottom: 20px;">
                    <th style="padding: 10px;">Billing Address</th>
                    <tr>
                      <td id="billingDetail1">

                      </td>
                    </tr>
                    <tr>
                      <td id="billingDetail2">

                      </td>
                    </tr>
                    <tr>
                      <td id="billingDetail3">

                      </td>
                    </tr>
                    <tr>
                      <td id="billingDetail4">

                      </td>
                    </tr>
                    <tr>
                      <td id="billingDetail5">

                      </td>
                    </tr>
                    <tr>
                      <td id="billingDetail6">

                      </td>
                    </tr>
                    <tr>
                      <td id="billingDetail7">

                      </td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table class="d-none" id="shippingTable" style="margin-bottom: 20px;">
                    <th style="padding: 10px;">Shipping Address</th>
                    <tr>
                      <td id="shippingDetail1">

                      </td>
                    </tr>
                    <tr>
                      <td id="shippingDetail2">

                      </td>
                    </tr>
                    <tr>
                      <td id="shippingDetail3">

                      </td>
                    </tr>
                    <tr>
                      <td id="shippingDetail4">

                      </td>
                    </tr>
                    <tr>
                      <td id="shippingDetail5">

                      </td>
                    </tr>
                    <tr>
                      <td id="shippingDetail6">

                      </td>
                    </tr>
                    <tr>
                      <td id="shippingDetail7">

                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="check3">
                Wallet Balance:
                <span id="walletBalance">
                  <%=walletamount %>
                </span>
              </div>
              <!-- <form action="" method="" onsubmit="return updateSubtotal(event)">
                <input type="number" min="0" max="<%=userData.wallet.balance %>" placeholder="Wallet amount to be used"
                  value="0" id="walletAmountInput" oninput="updateWalletBalance()">
                <button type="submit" id="applyButton">Apply</button>
              </form> -->


              <input type="number" min="0" max="<%=walletamount %>" id="walletInput"
                onkeydown="preventKeyEvents(event)">
              <button type="button" id="applyButton" onclick="updateWalletBalance()">Apply</button>
              <p id="walletMessage"></p>

              <button type="button" id="closeButton" onclick="refundWalletBalance()">Close</button>


              <div id="paymentOptionsContainer">
                <div class="payment_item1">
                  <div class="radion_btn1">
                    <input type="radio" id="f-option5" name="selector1" value="cod" onclick="setPaymentmode();"
                      class="paymentCheckbox" />
                    <label for="f-option5">COD</label>
                    <div class="check1"></div>
                  </div>
                </div>

                <div class="payment_item2">
                  <div class="radion_btn2">
                    <input type="radio" id="f-option6" name="selector1" value="gpay" onclick="setPaymentmode();"
                      class="paymentCheckbox" />
                    <label for="f-option6">RazorPay</label>
                    <div class="check2"></div>
                  </div>
                </div>
              </div>

              <!-- <div class="payment_item3">
                <div class="radion_btn3">
                  <input type="radio" id="f-option7" name="selector1" value="wallet" onclick="setPaymentmode();"
                    class="paymentCheckbox" />
                  <label for="f-option7">Wallet </label>
                  <div class="check3"</div>
                </div>
              </div> -->
              <!-- <form > -->
              <button id="placeOrderButton" class="hidden" onclick="placeOrder();">
                <a>Place Order</a>
              </button>
              <!-- </form> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->

  <!--::footer_part start::-->
  <footer class="footer_part">
    <div class="footer_iner section_bg">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-8">
            <div class="footer_menu">
              <div class="footer_logo">
                <a href="index.html"><img src="/img/logo.png" class="logo-img" alt="#"></a>
              </div>
              <div class="footer_menu_item">
                <a href="/home">Home</a>
                <a href="about.html">About</a>
                <a href="/fullproducts">Products</a>
                <a href="contact.html">Contact</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="social_icon">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </footer>
  <!--::footer_part end::-->

  <!-- jquery plugins here-->
  <script src="/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/js/mixitup.min.js"></script>
  <!-- particles js -->
  <script src="/js/owl.carousel.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/js/slick.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/contact.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/mail-script.js"></script>
  <!-- custom js -->
  <script src="/js/custom.js"></script>

  <!--Apply Coupon-->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const applyCouponBtn = document.getElementById('applyCouponBtn');
      const discountAmountElement = document.getElementById('discountAmount');
      const pElement = document.getElementById('minimumPurchaseBarrier');
      let isCouponApplied = false;

      applyCouponBtn.addEventListener('click', function (e) {
        e.preventDefault();

        // Retrieve the total amount from the page (replace with your actual method of retrieving the total)
        const totalAmount = parseFloat(document.getElementById('subtotal').innerText);

        // Retrieve the coupon code from the input field (replace with your actual input field ID if different)
        const couponCode = document.getElementById('couponCodeInput').value;

        if (!isCouponApplied) {
          // Initiate the fetch call to apply the coupon
          fetch('/applyCoupon', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ couponCode: couponCode, totalAmount: totalAmount })
          })
            .then(response => response.json())
            .then(data => {
              // Update the page with the updated total amount
              console.log(data, "1233333333333");
              document.getElementById('subtotal').innerText = data.updatedTotal
                ;

              // Change the button text to "Cancel Coupon"
              applyCouponBtn.innerText = 'Cancel Coupon';
              isCouponApplied = true;
              if (typeof data.discountAmount !== 'undefined') {
                discountAmountElement.innerText = data.discountAmount;
                saveText1.style.display = 'block';
              }


              console.log(typeof (data.p));
              // Show the saveText element
              if (typeof data.p !== 'undefined') {
                pElement.innerText = data.p;
                saveText2.style.display = 'block';
              }

            })
            .catch(error => {
              console.error('Error:', error);
            });
        } else {

          // Refresh the page to remove the applied coupon (replace with your actual page refresh method)
          window.location.reload();
        }
      });
    });

    function preventKeyEvents(event) {
      const arrowKeys = ['ArrowUp', 'ArrowDown', 'ArrowLeft', 'ArrowRight'];

      if (event.key === 'Enter' || arrowKeys.includes(event.key)) {
        event.preventDefault();
        event.target.blur(); // Remove focus from the input field
      }
    }


  </script>

  <script>
    // Get all the input fields
    const inputFields = document.querySelectorAll('input[type="text"], textarea');

    // Loop through each input field
    inputFields.forEach((input) => {
      // Add an event listener for the 'input' event
      input.addEventListener('input', function () {
        // Check if the input field has a value
        if (this.value.length > 0) {
          // Hide the placeholder by setting its opacity to 0
          this.nextElementSibling.style.opacity = 0;
        } else {
          // Show the placeholder by setting its opacity to 1
          this.nextElementSibling.style.opacity = 1;
        }
      });
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

  <script>

    var address1 = false;
    var address2 = false;
    var payment = false;

    // async function placeOrder() {
    //   var selectedPaymentMode = document.querySelector('input[name="selector1"]:checked').value;
    //   const subtotal = document.getElementById("subtotal").textContent.replace("Rs. ", "");
    //   // Retrieve the coupon code from the input field (replace with your actual input field ID if different)
    //   const couponCode = document.getElementById('couponCodeInput').value;
    //   const enteredAmount = parseFloat(document.getElementById('walletInput').value);

    //   const response = await fetch('/placeorder', {
    //     method: 'POST',
    //     headers: {
    //       'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify({
    //       paymentMethod: selectedPaymentMode,
    //       subtotal: subtotal,
    //       couponCode: couponCode,
    //       usedWalletAmount: enteredAmount
    //     })
    //   })
    //     .then(response => response.json())
    //     .then(data => {
    //       // Handle the response from the server
    //       console.log(data);
    //       if (data.error) {
    //         alert(data.error);
    //       } else if (selectedPaymentMode === 'gpay') {
    //         const order = data.order;
    //         console.log(order, "---------order---------");
    //         // console.log(data.newOrder.orderId,"-------shijith-----------");
    //         // console.log(data.newOrder,"---------azhar--------------");
    //         const options = {
    //           key: 'rzp_test_ORkJ65oKPb4Z48', // Replace with your Razorpay Key ID
    //           amount: subtotal * 100, // Amount is in currency subunits
    //           currency: 'INR',
    //           order_id: order.id,
    //           handler: function (response) {
    //             // Handle the Razorpay payment response
    //             console.log(response.razorpay_payment_id);
    //             console.log(response.razorpay_order_id);
    //             console.log(response.razorpay_signature);
    //             // Redirect to the confirmation page or perform any other actions
    //             window.location.href = '/confirmation?orderId=' + data.newOrder.orderId;
    //           }
    //         };
    //         const rzp1 = new Razorpay(options);
    //         rzp1.open();
    //       } else {
    //         const order = data.order;
    //         window.location.href = '/confirmation?orderId=' + order.orderId;
    //         // window.location.href = '/confirmation?orderId=' + order.orderId;data.newOrder.orderId
    //       }
    //     })
    //     .catch(error => {
    //       // Handle any errors that occurred during the request
    //       console.error('Error placing order:', error);
    //       // Display an error message to the user
    //     });
    // }

    async function placeOrder() {
      var selectedPaymentMode = document.querySelector('input[name="selector1"]:checked').value;
      const subtotal = document.getElementById("subtotal").textContent.replace("Rs. ", "");
      const couponCode = document.getElementById('couponCodeInput').value;
      const enteredAmount = parseFloat(document.getElementById('walletInput').value);

      try {
        const response = await fetch('/placeorder', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            paymentMethod: selectedPaymentMode,
            subtotal: subtotal,
            couponCode: couponCode,
            usedWalletAmount: enteredAmount
          })
        });

        const data = await response.json();

        if (response.ok) {
          if (selectedPaymentMode === 'gpay') {
            const order = data.order;
            const options = {
              key: 'rzp_test_ORkJ65oKPb4Z48', // Replace with your Razorpay Key ID
              amount: subtotal * 100, // Amount is in currency subunits
              currency: 'INR',
              order_id: order.id,
              handler: function (response) {
                console.log(response.razorpay_payment_id);
                console.log(response.razorpay_order_id);
                console.log(response.razorpay_signature);
                window.location.href = '/confirmation?orderId=' + data.newOrder.orderId;
              }
            };
            const rzp1 = new Razorpay(options);
            rzp1.open();
          } else {
            const order = data.order;
            window.location.href = '/confirmation?orderId=' + order.orderId;
          }
        } else {
          // Handle error scenarios and display Swal alerts
          if (data.error === 'Insufficient stock for one or more products') {
            Swal.fire('Error', 'Insufficient stock for one or more products', 'error');
          } else if (data.error === 'Insufficient balance in the wallet') {
            Swal.fire('Error', 'Insufficient balance in the wallet', 'error');
          } else {
            Swal.fire('Error', 'An error occurred while creating the order', 'error');
          }
        }
      } catch (error) {
        console.error('Error placing order:', error);
        Swal.fire('Error', 'An error occurred while placing the order', 'error');
      }
    }



    function setPaymentmode() {
      var selectedPaymentMode = document.querySelector('input[name="selector1"]:checked').value;
      // req.session.user.paymentMethod=selectedPaymentMode;
      // console.log(selectedPaymentMode);
      payment = true;
      checkOrderConditions();

    }

    function setbillingAddress() {

      var selectedBillingAddress = document.querySelector('input[name="selectedAddress1"]:checked').value;
      // console.log(selectedBillingAddress, 'jeswin address')
      address2 = true;
      fetch('/setBillingAddress', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          billingAddress: selectedBillingAddress,
        })
      })
        .then(response => response.json())
        .then(data1 => {

          checkOrderConditions();

          var table = document.getElementById("billingTable");
          table.classList.remove("d-none");
          document.getElementById('billingDetail1').innerText = data1.data1.name;
          document.getElementById('billingDetail2').innerText = data1.data1.mobile;
          document.getElementById('billingDetail3').innerText = data1.data1.email;
          document.getElementById('billingDetail4').innerText = data1.data1.addressLine;
          document.getElementById('billingDetail5').innerText = data1.data1.city;
          document.getElementById('billingDetail6').innerText = data1.data1.state;
          document.getElementById('billingDetail7').innerText = data1.data1.pincode;
        })
        .catch(error => {
          // Handle any errors
          console.error(error);
        });
    }

    function toggleButton() {
      var button = document.getElementById("placeOrderButton");
      button.classList.toggle("hidden");
    }


    function setshippingAddress() {
      var selectedShippingAddress = document.querySelector('input[name="selectedAddress2"]:checked').value;
      address1 = true;

      fetch('/setShippingAddress', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          shippingAddress: selectedShippingAddress
        })
      })
        .then(response => response.json())
        .then(data2 => {
          // Handle the response from the server
          // console.log(data2);

          checkOrderConditions();
          var table = document.getElementById("shippingTable");
          table.classList.remove("d-none");
          document.getElementById('shippingDetail1').innerText = data2.data2.name;
          document.getElementById('shippingDetail2').innerText = data2.data2.mobile;
          document.getElementById('shippingDetail3').innerText = data2.data2.email;
          document.getElementById('shippingDetail4').innerText = data2.data2.addressLine;
          document.getElementById('shippingDetail5').innerText = data2.data2.city;
          document.getElementById('shippingDetail6').innerText = data2.data2.state;
          document.getElementById('shippingDetail7').innerText = data2.data2.pincode;
        })
        .catch(error => {
          // Handle any errors
          console.error(error);
        });
    }

    // console.log(address1,"----------------------1",address2,"-------------------------2");



    function checkOrderConditions() {
      if (address1 && address2 && payment) {
        toggleButton()
      }
    }

    localStorage.setItem('walletToggle', true)
    const walletToggle = JSON.parse(localStorage.getItem('walletToggle'))
    if (walletToggle === false) {
      document.getElementById('closeButton').style.display = 'block';
      document.getElementById('applyButton').style.display = 'none';
    }
    else {
      document.getElementById('closeButton').style.display = 'none';
      document.getElementById('applyButton').style.display = 'block';
    }
    function updateWalletBalance() {
      let max = parseFloat('<%=walletamount%>');
      console.log(max, "-----------------------------");
      localStorage.setItem('walletToggle', false)
      document.getElementById('closeButton').style.display = 'block';
      document.getElementById('applyButton').style.display = 'none';
      console.log("Entered in function");

      const enteredAmount = parseFloat(document.getElementById('walletInput').value);

      const totalAmount = parseFloat(document.getElementById('subtotal').innerText);
      const y = totalAmount;
      console.log(totalAmount, "------------subtotal");

      const x = document.getElementById('walletMessage');

      console.log(enteredAmount, "--------enteredAmount");

      console.log(max, "--------max");

      if (Number(totalAmount) < Number(max)) {
        console.log("Main if");
        if (enteredAmount > totalAmount) {
          x.textContent = `Do not need to use more than ${totalAmount}`;
        } else {
          x.textContent = `Used amount of ${enteredAmount}`;
          if (enteredAmount === totalAmount) {
            document.getElementById('placeOrderButton').style.display = 'block';
            document.getElementById('f-option5').style.display = 'none';
            document.getElementById('f-option6').style.display = 'none';
            // Add the "Wallet" payment option dynamically
            const walletPaymentOption = document.createElement('div');
            walletPaymentOption.classList.add('payment_item3');
            walletPaymentOption.innerHTML = `
          <div class="radion_btn3">
            <input type="radio" id="f-option7" name="selector1" value="wallet" onclick="setPaymentmode();"
              class="paymentCheckbox" />
            <label for="f-option7">Wallet</label>
            <div class="check3"></div>
          </div>
        `;
            document.getElementById('paymentOptionsContainer').appendChild(walletPaymentOption);
          }
          document.getElementById('subtotal').innerText = Number(totalAmount) - Number(enteredAmount);
        }
      } else {
        if (enteredAmount <= max) {
          console.log(max, "--------max");
          console.log("inside if");
          x.textContent = `Used wallet amount of ${enteredAmount}`;
          document.getElementById('subtotal').innerText = Number(totalAmount) - Number(enteredAmount);
        } else {
          console.log("inside else");
          x.textContent = `Cannot use more than ${max}`;
        }
      }
    }

    function refundWalletBalance() {
      const enteredAmount = parseFloat(document.getElementById('walletInput').value);
      const totalAmount = parseFloat(document.getElementById('subtotal').innerText);
      localStorage.setItem('walletToggle', true)
      document.getElementById('closeButton').style.display = 'none';
      document.getElementById('applyButton').style.display = 'block';
      document.getElementById('subtotal').innerText = Number(totalAmount) + Number(enteredAmount);
    }

  </script>

  <script>
    // JavaScript code to populate coupon code in input field
    document.addEventListener('DOMContentLoaded', function () {
      const couponItems = document.querySelectorAll('.coupon-item');
      const couponCodeInput = document.getElementById('couponCodeInput');

      couponItems.forEach(function (couponItem) {
        couponItem.addEventListener('click', function (e) {
          e.preventDefault();
          const couponCode = this.getAttribute('data-coupon-code');
          couponCodeInput.value = couponCode;
        });
      });
    });
  </script>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</body>

</html>