<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Specs-Mart</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-D4Tu/h0LB6Kjxlukqj49LMYy4eUIY7wbBEgLn+tXWdP58eKwHSCNQwZw1pPfR6XoC23z/dD2MXkr6VWpC1Bd+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .category_offer {
            font-size: 18px;
            font-weight: bold;
            color: #E83E8C;
            margin-top: 10px;
        }

        .logo-img{
            height: 50px;
            width: 100px;
            max-width: none;
            /* Override the max-width property */
        }
    </style>

</head>

<body>

    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Navbar code... -->
                        <a class="navbar-brand" href="home.ejs"> <img src="img/logo.png" class="logo-img" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about">about</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/fullproducts">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact">Contact</a>
                                </li>
                            </ul>
                        </div>

                        <div class="hearer_icon d-flex align-items-center">
                            <!-- Other icons... -->

                            <% if (locals.userData && locals.userData.blockStatus === false) { %>
                                <a href="/addwishlist" class="wishlist-link">
                                    <i class="fas fa-heart"></i>
                                    <span class="wishlist-count"></span>
                                </a>

                                <a href="/addtocart">
                                    <i class="flaticon-shopping-cart-black-shape"></i>
                                </a>
                                <a href="/profile">
                                    <img src="/img/285645_user_icon.png" height="25px" width="25px"
                                        style="margin-left:20px;" alt="">
                                </a>

                                <a href="/logout">
                                    <i class="logout-icon">&#128075;</i>
                                </a>

                                <% }else { %>

                                    <a href="/login">
                                        <i class="login-icon">&#128274;</i>
                                    </a>
                                    <% } %>


                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Search input code... -->
    </header>
    <!-- Header part end-->


    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Best quality
                                spectacles</h1>
                            <p>Give your eyes the deserved care</p>
                            <a href="product_list" class="btn_1">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_img">
            <img src="/img/banner.jpg" alt="#" class="img-fluid">
            <img src="/img/banner_pattern.png " alt="#" class="pattern_img img-fluid">
        </div>
    </section>
    <!-- banner part start-->

    <!-- product list start-->
    <section class="single_product_list">
        <div class="container">
            <div class="row">
                <% categories.forEach(function(category, i) { %>
                    <% if (!category.isDisabled) { %>
                        <% let categoryOffer=offers.find(offer=> String(offer.category._id) === String(category._id));
                            %>
                            <% if (i % 2===0) { %>
                                <div class="col-lg-12">
                                    <div class="single_product_iner">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="single_product_img">
                                                    <img src="/admin/<%= category.categoryImage[0] %>" class="img-fluid"
                                                        alt="#">
                                                    <img src="img/product_overlay.png" alt="#"
                                                        class="product_overlay img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-sm-6">
                                                <div class="single_product_content">
                                                    <h5>
                                                        <%= category.categoryDescription %>
                                                    </h5>
                                                    <% if (categoryOffer) { %>
                                                        <h1 class="category_offer">
                                                            <%= categoryOffer.percentage %> % Off
                                                        </h1>
                                                        <% const stars = Math.floor(categoryOffer.percentage / 20); %>
                                                        <% for (let i = 0; i < stars; i++) { %>
                                                          <i class="fas fa-star"></i>
                                                        <% } %>
                                                        <% const remainingPercentage = categoryOffer.percentage % 20; %>
                                                        <% if (remainingPercentage > 0) { %>
                                                          <i class="fas fa-star-half-alt"></i>
                                                        <% } %>
                                                        <% } %>
                                                            <h2><a href="single-product">
                                                                    <%= category.categoryName %>'s Collection
                                                                </a></h2>
                                                            <a href="/product_list?category=<%= category.categoryName %>"
                                                                class="btn_3">
                                                                Explore Now
                                                            </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="col-lg-12">
                                        <div class="single_product_iner">
                                            <div class="row align-items-center justify-content-between">
                                                <div class="col-lg-5 col-sm-6">
                                                    <div class="single_product_content">
                                                        <h5>
                                                            <%= category.categoryDescription %>
                                                        </h5>
                                                        <% if (categoryOffer) { %>
                                                            <h1 class="category_offer">
                                                                <%= categoryOffer.percentage %> % Off
                                                            </h1>
                                                            <% const stars = Math.floor(categoryOffer.percentage / 20); %>
                                                            <% for (let i = 0; i < stars; i++) { %>
                                                              <i class="fas fa-star"></i>
                                                            <% } %>
                                                            <% const remainingPercentage = categoryOffer.percentage % 20; %>
                                                            <% if (remainingPercentage > 0) { %>
                                                              <i class="fas fa-star-half-alt"></i>
                                                            <% } %>
                                                          
                                                            <% } %>
                                                                <h2><a href="single-product">
                                                                        <%= category.categoryName %>'s Collection
                                                                    </a></h2>
                                                                <a href="/product_list?category=<%= category.categoryName %>"
                                                                    class="btn_3">
                                                                    Explore Now
                                                                </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="single_product_img">
                                                        <img src="/admin/<%= category.categoryImage[0] %>"
                                                            class="img-fluid" alt="#">
                                                        <img src="img/product_overlay.png" alt="#"
                                                            class="product_overlay img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                                            <% }) %>
            </div>
        </div>
    </section>



    <!-- trending item start-->
    <section class="trending_items">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>New Arrivals</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <% products.forEach((product, index)=> { %>
                    <% if (!product.isDisabled) { %>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <div class="single_product_item_thumb">
                                    <img src="<%= product.imageUrls[0].url %>" alt="#" class="img-fluid">
                                </div>
                                <h3> <a href="/single-product/<%= product._id %>">
                                        <%= product.productName %>
                                    </a> </h3>
                                <p>Rs. <%= product.price %>
                                </p>
                            </div>
                        </div>
                        <% if ((index + 1) % 3===0) { %>
            </div>
            <div class="row">
                <% } %>
                    <% } %>
                        <% }); %>
            </div>
        </div>
    </section>
    <!-- trending item end-->


    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="footer_iner section_bg">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-8">
                        <div class="footer_menu">
                            <div class="footer_logo">
                                <a href="index.html"><img src="img/logo.png" class="logo-img" alt="#"></a>
                            </div>
                            <div class="footer_menu_item">
                                <a href="/home">Home</a>
                                <a href="about.html">About</a>
                                <a href='/fullproducts'>Products</a>
                                <a href="contact.html">Contact</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="social_icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- magnific popup js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
</body>

</html>