<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Specs-Mart</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-D4Tu/h0LB6Kjxlukqj49LMYy4eUIY7wbBEgLn+tXWdP58eKwHSCNQwZw1pPfR6XoC23z/dD2MXkr6VWpC1Bd+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            gap: 50px;
            /* Add a gap of 50px between the cards */
        }

        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
        }

        .card h2 {
            margin-top: 0;
            font-size: 24px;
            margin-bottom: 15px;
        }

        .card p {
            margin: 10px 0;
        }

        .product-card {
            align-items: center;
            margin-bottom: 10px;
        }

        .product-card img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 10px;
        }

        .container-fluid {
            width: 90%;
        }


        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }

        .table tbody+tbody {
            border-top: 2px solid #dee2e6;
        }

        .logo-img {
            height: 50px;
            width: 100px;
            max-width: none;
            /* Override the max-width property */
        }
    </style>






</head>

<body>

    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container-fluid" style="width: 90%;">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Navbar code... -->
                        <a class="navbar-brand" href="/home">
                            <img src="/img/logo.png" class="logo-img" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about">about</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/fullproducts">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact">Contact</a>
                                </li>
                            </ul>
                        </div>

                        <div class="hearer_icon d-flex align-items-center">
                            <!-- Other icons... -->

                            <% if (locals.userData.blockStatus==false) { %>
                                <a href="/addwishlist" class="wishlist-link">
                                    <i class="fas fa-heart"></i>
                                    <span class="wishlist-count"></span>
                                </a>

                                <a href="/addtocart">
                                    <i class="flaticon-shopping-cart-black-shape"></i>
                                </a>
                                <a href="/profile">
                                    <img src="/img/285645_user_icon.png" height="25px" width="25px"
                                        style="margin-left:20px;" alt="">
                                </a>

                                <a href="/logout">
                                    <i class="logout-icon">&#128075;</i>
                                </a>

                                <% }else { %>

                                    <a href="/login">
                                        <i class="login-icon">&#128274;</i>
                                    </a>
                                    <% } %>


                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Search input code... -->
    </header>
    <!-- Header part end-->

    <br>
    <br>
    <div class="container-fluid" style="width: 90%;">
        <div class="row">
            <div class="col-6">
                <!-- Product Details -->
                <div class="card">
                    <h2>Product Details</h2>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                        <% for (let i=0; i < orderData[0].product.length; i++) { %>
                            <tr>
                                <td>
                                    <%= orderData[0].product[i].name %>
                                </td>
                                <td>
                                    <img src="<%= orderData[0].product[i].image %>"
                                        alt="<%= orderData[0].product[i].name %>" width="50" height="50">
                                </td>
                                <td>
                                    <%= orderData[0].product[i].price %>
                                </td>
                                <td>
                                    <%= orderData[0].product[i].quantity %>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <!-- Order Details -->
                <div class="card">
                    <h2>Order Details</h2>
                    <table class="table">
                        <tr>
                            <th>Order ID</th>
                            <td>
                                <%= orderData[0].orderId %>
                            </td>
                        </tr>
                        <tr>
                            <th>Total (COD/Razorpay)</th>
                            <td>
                                <%= orderData[0].total %>
                            </td>
                        </tr>
                        <tr>
                            <th>Payment Method</th>
                            <td>
                                <span>
                                    <%= orderData[0].paymentMethod %>
                                        <% if (orderData[0].usedWallet> 0) { %>+ Wallet<% } %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>
                                <%= orderData[0].status %>
                            </td>
                        </tr>
                        <tr>
                            <th>Order Date</th>
                            <td>
                                <%= orderData[0].date %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="width: 90%;">

        <div class="row">
            <div class="col-6">
                <!-- Billing Address -->
                <div class="">
                    <h2>Billing Address</h2>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <td>
                                <%= BillingAddress.name %>
                            </td>
                        </tr>
                        <tr>
                            <th>Mobile</th>
                            <td>
                                <%= BillingAddress.mobile %>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                <%= BillingAddress.email %>
                            </td>
                        </tr>
                        <tr>
                            <th>Address Line</th>
                            <td>
                                <%= BillingAddress.addressLine %>
                            </td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>
                                <%= BillingAddress.city %>
                            </td>
                        </tr>
                        <tr>
                            <th>State</th>
                            <td>
                                <%= BillingAddress.state %>
                            </td>
                        </tr>
                        <tr>
                            <th>Pincode</th>
                            <td>
                                <%= BillingAddress.pincode %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <!-- Shipping Address -->
                <div class="">
                    <h2>Shipping Address</h2>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <td>
                                <%= ShippingAddress.name %>
                            </td>
                        </tr>
                        <tr>
                            <th>Mobile</th>
                            <td>
                                <%= ShippingAddress.mobile %>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                <%= ShippingAddress.email %>
                            </td>
                        </tr>
                        <tr>
                            <th>Address Line</th>
                            <td>
                                <%= ShippingAddress.addressLine %>
                            </td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>
                                <%= ShippingAddress.city %>
                            </td>
                        </tr>
                        <tr>
                            <th>State</th>
                            <td>
                                <%= ShippingAddress.state %>
                            </td>
                        </tr>
                        <tr>
                            <th>Pincode</th>
                            <td>
                                <%= ShippingAddress.pincode %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>



    <div class="container-fluid" style="display: flex;">
        <div class="container-fluid" style="margin-bottom: 20px; display:flex;">
            <% if (orderData[0].status==='pending' || orderData[0].status==='Shipped' ) { %>
                <a href="/cancelOrder?id=<%= orderData[0]._id %>">
                    <button type="submit">Cancel Order</button>
                </a>
                <% } else if (orderData[0].status==='Cancelled' ) { %>
                    <p>Order Cancelled</p>
                    <% } else if (Date.now() < new Date(orderData[0].returnEndDate).getTime()) { %>
                        <a href="/returnOrder?id=<%= orderData[0]._id %>">
                            <button type="submit">Return Order</button>
                        </a>
                        <% } %>
        </div>
        <div class="container-fluid" style="margin-bottom: 20px; display:flex;">
            <% if (orderData[0].status.trim()==='Delivered' ) { %>
                <a href="/downloadOrderInvoice?id=<%= orderData[0]._id %>">
                    <button type="submit">Download Invoice</button>
                    <!-- Debug statement -->
                </a>
                <% } %>
        </div>
    </div>




    </div>


    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="footer_iner">
            <div class="container">
                <div class="col-lg-4">
                    <div class="social_icon row justify-content-between align-items-center">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>

    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- magnific popup js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>

</body>

</html>