<!DOCTYPE html>
<html lang="en">

<head>
    <title>Specs-Mart:Product Detail Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="apple-touch-icon" href="/singlepage/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/singlepage/assets/img/favicon.ico"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet" href="/singlepage/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/singlepage/assets/css/templatemo.css">
    <link rel="stylesheet" href="/singlepage/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/public/singlepage/assets/css/fontawesome.min.css">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="/singlepage/assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/singlepage/assets/css/slick-theme.css">

    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!--
     
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->

    <!--sweetalert2 cdn-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
    
    <style>
        .image-zoom {
            overflow: hidden;
        }

        .image-zoom img {
            transition: transform 0.3s;
        }

        .image-zoom:hover img {
            transform: scale(1.2);
            /* Increase the value to zoom in more */
        }
    </style>
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Navbar code... -->
                        <a class="navbar-brand" href="home.ejs"> <img src="/singlepage/assets/img/logo.png" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about">about</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/fullproducts">All items</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact">Contact</a>
                                </li>
                            </ul>
                        </div>

                        <div class="hearer_icon d-flex align-items-center">
                            <!-- Other icons... -->

                            <% if (locals.userData && locals.userData.blockStatus===false) { %>
                                <a href="/addwishlist" class="wishlist-link">
                                    <i class="fas fa-heart"></i>
                                    <span class="wishlist-count"></span>
                                </a>

                                <a href="/addtocart">
                                    <i class="flaticon-shopping-cart-black-shape"></i>
                                </a>
                                <a href="/profile">
                                    <img src="/img/285645_user_icon.png" height="25px" width="25px"
                                        style="margin-left:20px;" alt="">
                                </a>

                                <a href="/logout">
                                    <i class="logout-icon">&#128075;</i>
                                </a>

                                <% }else { %>

                                    <a href="/login">
                                        <i class="login-icon">&#128274;</i>
                                    </a>
                                    <% } %>


                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Search input code... -->
    </header>
    <!-- Header part end-->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <div class="image-zoom">
                            <img class="card-img img-fluid" src="/admin/<%=oneImage %>" alt="Card image cap"
                                id="product-detail">
                        </div>
                    </div>

                    <div class="row">
                        <!--Start Controls-->
                        <!-- <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div> -->
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                            data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <% product.forEach(function(product) { %>
                                            <% product.imageUrls.forEach(function(imageUrl, index) { %>
                                                <div class="col-4">
                                                    <a href="#">
                                                        <img class="card-img img-fluid" src="/admin/<%= imageUrl %>"
                                                            alt="Product Image 1">
                                                    </a>
                                                </div>
                                                <% }); %>
                                                    <% }); %>
                                                        <!-- <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/singlepage/assets/img/product_single_02.jpg" alt="Product Image 2">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/singlepage/assets/img/product_single_03.jpg" alt="Product Image 3">
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <!-- <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/singlepage/assets/img/product_single_04.jpg" alt="Product Image 4">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/singlepage/assets/img/product_single_05.jpg" alt="Product Image 5">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/singlepage/assets/img/product_single_06.jpg" alt="Product Image 6">
                                            </a>
                                        </div>
                                    </div>
                                </div> -->
                                <!--/.Second slide-->

                                <!--Third slide-->
                                <!-- <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/singlepage/assets/img/product_single_07.jpg" alt="Product Image 7">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/singlepage/assets/img/product_single_08.jpg" alt="Product Image 8">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/singlepage/assets/img/product_single_09.jpg" alt="Product Image 9">
                                            </a>
                                        </div>
                                    </div>
                                </div> -->
                                <!--/.Third slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <!-- <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div> -->
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <% product.forEach(function(product,i,products) { %>
                            <div class="card-body">
                                <h1 class="h2">
                                    <%= product.productName %>
                                </h1>
                                <p class="h3 py-2">Rs.<%= product.price%>
                                </p>
                                <p class="py-2">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                                </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Brand:</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted"><strong>
                                                <%=product.productBrand%>
                                            </strong></p>
                                    </li>
                                </ul>

                                <h6>Description:</h6>
                                <p>
                                    <%=product.productDescription%>
                                </p>
                                <!-- <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Avaliable Color :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>White / Black</strong></p>
                                </li>
                            </ul> -->

                                <!-- <h6>Specification:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>Lorem ipsum dolor sit</li>
                                <li>Amet, consectetur</li>
                                <li>Adipiscing elit,set</li>
                                <li>Duis aute irure</li>
                                <li>Ut enim ad minim</li>
                                <li>Dolore magna aliqua</li>
                                <li>Excepteur sint</li>
                            </ul> -->

                                <form action="" method="GET">
                                    <input type="hidden" name="product-title" value="Activewear">
                                    <div class="row">
                                        <!-- <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item">Size :
                                                <input type="hidden" name="product-size" id="product-size" value="S">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">S</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">L</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">XL</span></li>
                                        </ul>
                                    </div> -->
                                        <div class="col-auto">

                                        </div>
                                    </div>
                                    <div class="row pb-3" style="display: flex">

                                        <% if (product.stockCount==0) { %>
                                            <h3 style="color: red;">Out of Stock</h3>
                                            <% } else { %>
                                                <div class="card_area d-flex justify-content-between m-3 ">
                                                    <button type="button" class="btn "
                                                        onclick="addToCart('<%= products[i]._id %>')"
                                                        style="background-color: #f4edf2; color: black;">Add to
                                                        Cart</button>
                                                    <button type="button" class="btn "
                                                        onclick="addToWishlist('<%= products[i]._id %>')"
                                                        style="background-color: #f4edf2; color: black;">Add to
                                                        Wishlist</button>
                                                    <a href="/product-ratings/<%= product._id %>" class="btn"
                                                        style="background-color: #f4edf2; color: black;">Rate the
                                                        Product</a>
                                                </div>
                                                <% } %>



                                    </div>
                                </form>

                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->





    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="footer_iner">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-8">
                        <div class="footer_menu">
                            <div class="footer_logo">
                                <a href="index.html"><img src="/img/logo.png" alt="#"></a>
                            </div>
                            <div class="footer_menu_item">
                                <a href="home.ejs">Home</a>
                                <a href="about.html">About</a>
                                <a href="product_list.html">Products</a>
                                <a href="#">Pages</a>
                                <a href="blog.html">Blog</a>
                                <a href="contact.html">Contact</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="social_icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright_part">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="copyright_text">
                            <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </P>
                            <div class="copyright_link">
                                <a href="#">Turms & Conditions</a>
                                <a href="#">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="/public/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/public/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/public/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/public/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/public/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/public/js/slick.min.js"></script>
    <script src="/public/js/jquery.counterup.min.js"></script>
    <script src="/public/js/waypoints.min.js"></script>
    <script src="/public/js/contact.js"></script>
    <script src="/public/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/js/jquery.form.js"></script>
    <script src="/public/js/jquery.validate.min.js"></script>
    <script src="/public/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/public/js/custom.js"></script>

    <!-- Start Script -->
    <script src="/singlepage/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/singlepage/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/singlepage/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/singlepage/assets/js/templatemo.js"></script>
    <script src="/singlepage/assets/js/custom.js"></script>
    <!-- End Script -->

    <!-- Start Slider Script -->
    <script src="/singlepage/assets/js/slick.min.js"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            }
            ]
        });
    </script>

    <script>
        const addToCart = async (productId) => {
            try {
                const response = await fetch('/addtocart', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ productId: productId })
                });
                const res = await response.json();

                if (res === "success") {
                    Swal.fire({
                        title: 'Success',
                        text: "Item added to Cart!",
                        icon: 'success',
                        showConfirmButton: true,
                        iconHtml: '<i class="fas fa-shopping-cart"></i>',
                        timer: 1000
                    });
                } else if (res === "Iteminside") {
                    Swal.fire({
                        title: 'Success',
                        text: "Item already inside the Cart, please click the cart Icon!",
                        icon: 'error',
                        showConfirmButton: true,
                        iconHtml: '<i class="fas fa-shopping-cart"></i>',
                        timer: 1000
                    });
                }
                else if (res === "usernotloggedin") {
                    Swal.fire({
                        title: 'Login',
                        text: "Please login to add the item to the cart!",
                        icon: 'error',
                        showConfirmButton: false,
                        iconHtml: '<i class="fas fa-shopping-cart"></i>',
                        timer: 1000
                    });
                }
                else if (res === "userblocked") {
                    console.log(res);
                    window.location.href = '/logout'
                }
                else {
                    Swal.fire({
                        title: 'Error',
                        text: "An error occurred while adding the item to the cart!",
                        icon: 'error',
                        showConfirmButton: false,
                        iconHtml: '<i class="fas fa-shopping-cart"></i>',
                        timer: 1000
                    });
                }
            } catch (error) {
                console.log(error);
                Swal.fire({
                    title: 'Error',
                    text: "An error occurred while adding the item to the cart!",
                    icon: 'error',
                    showConfirmButton: false,
                    iconHtml: '<i class="fas fa-shopping-cart"></i>',
                    timer: 1000
                });
            }
        };


        const addToWishlist = async (productId) => {
            // console.log("==========productId=========",productId);
            const response = await fetch('/addwishlist', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ productId: productId })
            });
            // console.log(response);
            const res = await response.json();
            // console.log(res,"-----------------res-------------");
            if (res === 'success') {
                // const data = await response.json();
                // console.log(data,"------------------data----------------");
                Swal.fire({
                    title: 'Success',
                    text: "Item added to wishlist !",
                    icon: 'success',
                    showConfirmButton: false,
                    iconHtml: '<i class="fas fa-heart"></i>',
                    timer: 1000
                });
                const wishlistContainer = document.getElementById('wishlist-container');
                const itemElement = document.createElement("div");
                wishlistContainer.appendChild(itemElement);
            }
            else if (res === 'Productexists') {
                Swal.fire({
                    title: 'Success',
                    text: "Item already added to wishlist, check in the wishlist table!",
                    icon: 'success',
                    showConfirmButton: false,
                    iconHtml: '<i class="fas fa-heart"></i>',
                    timer: 3000
                });
            }
            else if (res === "usernotloggedin") {
                Swal.fire({
                    title: 'Login',
                    text: "Please login to add the item to the wishlist!",
                    icon: 'error',
                    showConfirmButton: false,
                    iconHtml: '<i class="fas fa-heart"></i>',
                    timer: 1000
                });
            }
            else if (res === "userblocked") {
                console.log(res);
                Swal.fire({
                    title: 'Blocked',
                    text: "Contact the admin:'jesvinjose49@gmail.com' to add the item to the wishlist, user is blocked!",
                    icon: 'error',
                    showConfirmButton: false,
                    iconHtml: '<i class="fas fa-heart"></i>',
                    timer: 1000
                });
            }
            else {
                res.status(500).json({ message: "Error adding product to wishlist!" });
            }
        }  
    </script>
    <!-- End Slider Script -->

    <script>
        $(document).ready(function() {
          $('#main-image').elevateZoom({
            zoomType: "inner",
            cursor: "crosshair",
            zoomWindowFadeIn: 500,
            zoomWindowFadeOut: 500
          });
        });
      </script>
      


</body>

</html>